.page-body {
    background-image: linear-gradient(to right, rgba(32, 165, 170, 0.6), rgba(0, 0, 0, 0.5)), url(../img/background.png);
}

.change-theme-btn {
    background-color: rgb(32, 165, 170);
}

.change-theme-btn:hover {

    color: rgb(32, 165, 170);
    border-color: rgb(2, 66, 68);
}

.logo:hover .logo-img-blue,
.logo:hover .logo-title {
    display: block;
    color: rgb(32, 165, 170);
}

.contacts-link:hover {
    color: rgb(32, 165, 170);
}

.hidden-block {
    background-color: rgb(32, 165, 170);
}

.tours-card:hover .tours-card-description{
    color: rgb(32, 165, 170);
}  